/* IMPOSTAZIONI GENERALI */

.body {
  background-image: url(../img/sfondo.png);
  background-size: 100%;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.5;
}
/* HEADER */
.header {
  text-align: center;
  margin-inline: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0 3px 3px #444;
  background: rgb(51, 57, 54);
  background: linear-gradient(
    0deg,
    rgba(51, 57, 54, 1) 0%,
    rgba(0, 109, 136, 1) 64%,
    rgba(32, 122, 140, 1) 100%
  );
  color: white;
}
.header img {
  height: 70px;
}
.header div h3 {
  text-transform: uppercase;
  margin: 1rem;
  font-weight: 600;
}
.header ul li a {
  margin: 4px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
/* MAIN */
.main {
  background-color: #ffffff;
  margin-inline: 1rem;
  margin-block: 1rem;
  padding: 1rem;
  box-shadow: 1px 4px 4px 4px #dfd9d9;
}

/* ELEMENTI NEL MAIN - ARTICLE */
.titolo h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 700;
}
.titolo h4 {
  color: gray;
  margin-bottom: 10px;
}
.paragrafo-uno {
  margin-bottom: 10px;
}

.testo-p {
  color: purple;
}
.ul {
  list-style: disc;
  margin-bottom: 10px;
  padding-inline: revert;
}
.sfondo-g {
  background-color: #e8dfe1;
  border-radius: 15%;
  border: solid grey;
}
.ol {
  list-style: decimal;
  margin-block: 10px;
  padding-inline: revert;
}

/* TABELLE */
caption {
  font-style: italic;
  font-weight: 600;
}
.tabella {
  margin-block: 10px;
  border-bottom: solid #4066c0;
}

.colore-a {
  color: #4ab5d7;
}
.video {
  border-radius: 15px;
  margin-block: 1rem;
}
/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
.footer {
  text-align: center;
  margin-inline: 1rem;
  margin-block: 1rem;
  padding: 1rem;
  box-shadow: 1px 4px 4px #dfd9d9;
  background: rgb(51, 57, 54);
  background: linear-gradient(0deg, rgba(53, 53, 53, 1) 0%, rgba(5, 85, 103, 1) 68%);
  color: white;
  font-weight: 600;
}
.footer h4 {
  margin-block: 1 rem;
}
