/* IMPOSTAZIONI GENERALI */
body {
  height: 100vh;
  background-image: url(../img/sfondo.png);
  background-position: center center;
}
.body {
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
}
/* HEADER */
.header {
  text-align: center;
  margin-inline: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0 3px 3px #444;
  background: rgb(51, 57, 54);
  background: linear-gradient(
    0deg,
    rgba(51, 57, 54, 1) 0%,
    rgba(0, 109, 136, 1) 64%,
    rgba(32, 122, 140, 1) 100%
  );
  color: white;
}
.header img {
  height: 70px;
}
.header div h3 {
  text-transform: uppercase;
  margin: 1rem;
  font-weight: 600;
}
.header ul li a {
  margin: 4px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
/* MAIN */
.main {
  background-color: #ffffff;
  margin-inline: 1rem;
  margin-block: 1rem;
  padding: 1rem;
  box-shadow: 1px 4px 4px 4px #dfd9d9;
}

/* ELEMENTI NEL MAIN - ARTICLE */
.titolo h1 {
  line-height: 2.7rem;
  padding: 0px;
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: 700;
}
.titolo h4 {
  color: gray;
  margin-bottom: 10px;
}

.logoCss {
  padding: 3px;
  border: solid #019dc3;
  margin-block: 10px;
}
.paragrafo-uno {
  margin-bottom: 10px;
}

.testo-p {
  color: purple;
}
.ul {
  list-style: disc;
  margin-bottom: 10px;
  padding-inline: revert;
}
.ul li {
  margin-bottom: 3px;
}

.sfondo-g {
  background-color: #e8dfe1;
  border-radius: 15%;
  border: solid 1px grey;
}
.ol {
  list-style: decimal;
  margin-block: 10px;
  padding-inline: revert;
}

/* TABELLE */

.tabella {
  height: 310px;
  width: 415px;
  margin-block: 20px;
  border-bottom: solid #4066c0;
  text-align: center;
}

.tabella caption {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}
.int {
  background-color: #4066c0;
  color: white;
}
.int-2 {
  border-right: solid 1px;
}
.box {
  background-color: #f2f2f2;
  border-bottom: solid #e1e1e272;
  border-top: solid #e1e1e272;
}

.colore-a {
  color: #4ab5d7;
}
.video {
  border-radius: 15px;
  margin-block: 1rem;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */
.aside {
  background-color: #e1e5e6;
  padding: 1rem;
}
.aside h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin-block: 1rem;
  text-align: center;
  background-color: gray;
}
.aside p {
  margin-bottom: 12px;
  padding-inline: 16px;
}
.aside input {
  padding-block: 7px;
  border: none;
  border-bottom: dashed thin;
  margin-left: 16px;
  padding-left: 5px;
}
.bottone {
  background-color: #4066c0;
  color: white;
  border: none;
  padding-block: 6px;
  font-weight: 600;
}
#h4 {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin-block: 1rem;
}
.box-2 {
  background-color: #e1e5e6;
  padding: 1rem;
  border: solid 1px #aaa;
  margin-block: 1rem;
}
.box-2 a {
  color: #009ecc;
  font-weight: 600;
}
.calendario {
  text-align: right;
  padding: 1rem;
}

/* FOOTER */
.footer {
  text-align: center;
  margin-inline: 1rem;
  margin-block: 1rem;
  padding: 1rem;
  box-shadow: 1px 4px 4px #dfd9d9;
  background: rgb(51, 57, 54);
  background: linear-gradient(
    0deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(5, 85, 103, 1) 68%
  );
  color: white;
}
.footer h4 {
  font-size: 22px;
  margin-bottom: 1rem;
}
.footer p {
  font-size: 22px;
}
.footer a {
  color: #ff00fe;
}

@media screen and (min-width: 768px) {
  nav ul li {
    display: inline-block;
  }
  .titolo h1 {
    line-height: 3rem;
    padding: 0px;
    font-size: 3.2em;
    margin-bottom: 25px;
    font-weight: 700;
  }
  .paragrafo-uno {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .testo-p {
    font-weight: 600;
  }
  .ul {
    font-size: 18px;
    margin-block: 1rem;
    list-style: disc;
    padding-inline: revert;
  }
  .h3 {
    font-size: 18px;
    font-weight: 600;
  }
  .ol {
    font-size: 18px;
    margin-block: 1rem;
  }
  .container-tabella {
    margin-inline: 6rem;
    margin-block: 3rem;
  }
  .tabella {
    margin-block: 3rem;
    font-size: 18px;
    height: 400px;
    width: 100%;
  }
  .aside {
    font-size: 19px;
  }
  #h4 {
    font-size: 22px;
    margin-block: 2rem;
  }
  .box-2 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    margin-inline: 5rem;
    margin-bottom: 2rem;
    text-align: start;
  }
  .header div {
    display: inline-block;
  }
  .header div h3 {
    font-size: 1.4rem;
    display: inline-block;
    margin-left: 4rem;
  }
  .header nav {
    font-size: 1.4rem;
    display: inline-block;
    text-align: end;
    margin-left: 3rem;
  }
  .main {
    margin-inline: 5rem;
    margin-top: 2rem;
  }
  .container-tabella {
    margin-inline: 10rem;
    margin-block: 6rem;
  }
  .tabella {
    width: 100%;
    height: 350px;
  }

  .container-video {
    display: inline-block;
    width: 48%;
    height: 220px;
  }
  .video {
    margin-block: 0rem;
    height: 100%;
    border-radius: 10px;
  }
  .aside {
    width: 48%;
    display: inline-block;
    border-radius: 6px;
  }
  .aside input {
    width: 65%;
  }
  .box-2 {
    margin-inline: -3px;
    width: 30%;
    display: inline-block;
    font-size: 18px;
  }
  .footer {
    margin-inline: 5rem;
    margin-block: 2rem;
  }
}
@media print {
  .video {
    display: none;
  }
  .main img {
    display: none;
  }
}
